{% extends "padre.html" %}

{% load static %}

{% block titulo %}CARGARRRRR {% endblock titulo %}

{% block contenido_que_cambia %}    


<form action="{% url 'cargar' %}" method="POST" enctype="multipart/form-data"> {% csrf_token %} 

    <table  style="color:black">

        {{ formulario.as_table }}

    </table>

    <input type="submit" value="Guardar ">


</form>
<table>
    <thead>
        <tr>
        <tr>Nombre:  </tr> 
        
        </tr>
    </thead>
    <tbody>
    {% for i in carga %}
    <tr>
        <td>
            {{ i.nombre }}
            <button>
            <a class="btn btn-danger" href="{% url 'eliminarCargar' cargar.id %}">Eliminar</a>
            
            </button>
        </td>
    </tr>
    {% endfor %} 
    </tbody>
</table>
{% endblock contenido_que_cambia %}


